<br><br>
<footer>
  <div>
    Number of page visits: <%= pageVisits %><br><br>
    Created by Chris Bot<br>
    ChrisBotCodes on <a href="https://github.com/ChrisBotCodes/tiny-app">GitHub</a><br>
    January 2017
  </div>
</footer>
