<header>
  <div id="header"><a href="http://localhost:8080/">My URL Shortener</a></div>
  <br><br>
    Already have an account?
    <form method="POST" action="/login">
    Click to <a href="http://localhost:8080/login">log in</a>!
  </form>
</header>
