<header>
  <div id="header"><a href="http://localhost:8080/">My URL Shortener</a></div>
  <br><br>
  <% if (info === undefined) { %>
    Hi there, new user!<br>Click to <a href="http://localhost:8080/register">register</a>!<br>
      Click to <a href="http://localhost:8080/login">log in</a>!
    <% } else { %>
      Hi there, <%= info.email %>!
      <form method="POST" action="/logout">
      <input class="button" type="submit" value="Logout">
  <% } %>
  </form>
</header>
