<!-- Including _head.ejs and _header.ejs-->
<!-- IF user is recognonized run line 13, links to /urls-->
<!-- ELSE run line 16 and 20, links to /urls/new-->

<!DOCTYPE html>
  <html lang="en">
  <% include ./partials/_head %>
  <body>

  <% include ./partials/_header %>

    <% if (locals.info) { %>
      <div class="loneText">View your index of <a href="/urls">shortened URLS!</a>.</div><br><br>
    <% } else { %>
      <h3>Or...</h3>
    <% } %>

    </br>
    <a href="/urls/new"><div class="loneText">Shorten a URL here!</div></a>

  </body>

</html>
